.uppercase {
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold; }

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }
  
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * DDG Extension Resets & Base Styles
 */
html, body {
  height: 100%;
  min-height: 100%; }
  html.body--neutral, body.body--neutral {
    background: #f0f0f0; }

h1, h2, h3, h4, h5, h5, p, div {
  font-size: 14px;
  margin: 0;
  padding: 0; }
  h1.menu-title, h2.menu-title, h3.menu-title, h4.menu-title, h5.menu-title, h5.menu-title, p.menu-title, div.menu-title {
    font-weight: bold;
    padding: 14px 0; }

section, ul, ol, li {
  margin: 0;
  padding: 0;
  position: relative; }
  section.divider-bottom, ul.divider-bottom, ol.divider-bottom, li.divider-bottom {
    border-bottom: 1px solid #e0e0e0; }

form, input, select, option, button {
  outline: none; }
  form *, input *, select *, option *, button * {
    outline: none; }

button {
  border: none;
  background-color: #ffffff;
  padding: 0; }

/* Fonts */
body,
input,
textarea,
select {
  font-family: "DDG_ProximaNova", "Helvetica Neue", "Helvetica", "Segoe UI", "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333; }

.bold {
  font-weight: bold; }

.justify{
  text-align: justify;
}

/* Links */
a {
  color: #f0f0f0;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.link-secondary {
    color: #333333; }

/**
 * DDG Extension Helper Classes
 */
/* Hide element */
.is-hidden {
  display: none; }

/* Position */
.pull-right {
  position: absolute;
  right: 20px; }

.pull-left {
  position: absolute;
  left: 20px; }

/* Display */
.block {
  display: block; }

/* Floats */
.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix {
  clear: both;
  height: 0;
  line-height: 0; }

/* Text Centering */
.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

/* Borders */
.border--top {
  border-top: 1px solid #e5e5e5; }

.border--bottom {
  border-bottom: 1px solid #e5e5e5; }

.border--bottom--inner {
  position: relative; }
  .border--bottom--inner:after {
    content: "";
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px; }

/*Button*/
.btn {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  position: relative;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0 1em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 0.25em;
  box-sizing: content-box;
  user-select: none;
  outline: none !important;
  background-color: #20b2aa;
  border: 1px solid #20b2aa;
  line-height: 2;
  font-weight: normal;
  font-size: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #ffffff;
  -webkit-appearance: none !important; }
  .btn:hover, .btn:focus {
    text-decoration: none !important;
    color: #ffffff;
    background-color: #afafaf;
    border-color: #afafaf; }


/* Padding */
.padded {
  padding: 14px 20px; }

.padded--no-bottom-padding {
  padding-bottom: 0; }

/* Background */
.silver-bg {
  background-color: #f0f0f0; }
  .silver-bg .border--top,
  .silver-bg .border--bottom {
    border-color: #d8d8d8; }


/* Card Display */
.card {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0px 1px 1px #d0d0d0;
  padding: 0;
  margin: 7.5px 0 0 0; }
  .card.card--transparent {
    background-color: transparent;
    box-shadow: none; }
  .card.card--no-top-margin {
    margin-top: 0; }


/* CardRecommendatios Display */
.cardRecor {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0px 1px 1px #d0d0d0;
  padding: 20px;
  margin: 7.5px 0 0 0; }
  .cardRecord.card--transparent {
    background-color: transparent;
    box-shadow: none; }
  .cardRecord.card--no-top-margin {
    margin-top: 0; }


/* Hamburger Button */
.hamburger-button {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 20px;
  width: 20px;
  height: 30px;
  background-color: inherit; }
  .hamburger-button span {
    display: block;
    margin: 3px auto 0 auto;
    width: 15px;
    height: 2px;
    background-color: #f0f0f0;
    border-radius: 5px; }
  .hamburger-button:hover span {
    background-color: #afafaf; }

/* Icons */
/* Standard icon display within the extension */
.icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  /* you'll need to set the background image within each instance of .icon */ }
  .icon.icon__close {
    width: 14px;
    height: 14px; }
    .is-browser--moz .icon.icon__close {
      background-image: url("../../icons/close.svg"); }
  .icon.icon__arrow {
    width: 16px;
    height: 16px;}
    .icon.icon__arrow {
      background-image: url("../../icons/arrow@2x.png"); }
    .icon.icon__arrow.icon__arrow--left {
      transform: rotate(180deg); }
    .icon.icon__arrow.icon__arrow--large {
      width: 9.5px; }
      .icon.icon__arrow.icon__arrow--large {
        background-image: url("../../icons/arrow--large.svg"); }
  .icon.icon__settings {
    width: 16px;
    height: 16px; }
    .icon.icon__settings {
      background-image: url("../../icons/settings-gear@2x.png"); }

.frm__label {
    color: #333333;
    margin-bottom: 10px;
    display: block;
}

.frm__text,
.frm__input {
  box-sizing: border-box;
  margin: 0;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  color: #333333;
  outline: none;
  margin-bottom: 10px; }

.frm__input {
  border-radius: 2px;
  height: 30px;
  width: 100%;
  line-height: 30px;
  padding-left: 0.8em;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-appearance: none; }

.frm__text {
  padding: 0.8em;
  border-radius: 2px;
  width: 100%;
  max-width: 100%;
  height: 100px; }