* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-cell {
    width: 100%;
    /* full width */
    /* height: 160px; */
    /* height of carousel */
    /* margin-right: 10px; */
}

.gallery {
    background: #fff;
}

.gallery-cell {
    width: 100%;
    height: 100%;
    margin-right: 10px;
    background: #fff;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    /* content: counter(gallery-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
}


/* big buttons, no circle */
.flickity-prev-next-button {
    width: 20px;
    height: 20px;
    background: transparent;
}

/* arrow color */
.flickity-prev-next-button .arrow {
    fill: black;
}

.flickity-prev-next-button.no-svg {
    color: white;
}

.flickity-prev-next-button:hover {
    background: transparent;
}

/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

/* position dots in gallery */
.flickity-page-dots {
    bottom: 0px;
}

/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

.classenueva {
    text-align: center;
    position: absolute inherit;
    /* display: inline-block; */
}

.classeimg {
    width: 20px;
    height: 50px;
}

.regresar{
    position: absolute;
    right: 30px ;
    z-index: 2;
    /* border-style: solid; */
    color: #000;
    font-weight: bold;
}
