
.uppercase {
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold; }

.page-container {
  width: 300px;
  height: 450px;
  margin: 3em auto auto auto;
  position: relative; }
  .page-container p {
    margin-bottom: 10px; }

.ddg-logo {
  background-size: contain;
  width: 158px;
  height: 44px;
  margin-bottom: 10px; 
  background-image: url("../../icons/security-48.png"); 
  background-repeat: no-repeat;
  display:block;
  /*margin:auto;*/
}

  .ddg-logo span {
    display: none; }
