.uppercase {
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold; }

html, body {
  width: 300px;
  height: 450px; }

body {
  overflow: hidden; }

body.is-browser--moz {
    height: 450px; }

    /* Sliding subviews */
    .sliding-subview {
      position: absolute;
      top: 0;
      left: 300px;
      width: 300px;
      height: 100%;
      box-sizing: border-box; }
    .sliding-subview.sliding-subview--root {
      position: fixed;
      top: 0;
      left: 0;
      transition: left 0.35s ease-in-out; }
    .sliding-subview.sliding-subview--has-fixed-header {
      padding: 42px 0 0 0; }
    .sliding-subview .sliding-subview__header {
      z-index: 10;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 57px;
      margin: 0;
      font-size: 1.14em;
      color: #383838;
      overflow: hidden; }

#popup-container .site-info--placeholder {
  height: 400px;
 /* border-style: solid;
  border-color: #20b2aa;
  border-width: medium; */
  }

#popup-container .site-info {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  margin-top: 0; }

#popup-container .site-info .default-list {
    padding-bottom: 0; }
  #popup-container .site-info .text-line-after-icon {
    margin-left: 12px; }

#popup-container .site-info--main {
  top: auto; }

#popup-container .site-info .site-info__li--toggle.is-active {
  background-color: #f0f0f0; }

.site-info__access__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 36px;
    height: 36px;
    top: 10px;
    left: 15px;
    top: 12px; 
    background-image: url("../../icons/access.png"); }

.site-info__spyware__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 36px;
    height: 36px;
    top: 10px;
    left: 15px;
    top: 12px; 
    background-image: url("../../icons/spyware.png"); }

.site-info__antivirus__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 36px;
    height: 36px;
    top: 10px;
    left: 15px;
    top: 12px; 
    background-image: url("../../icons/antivirus.png"); }

.site-info__communication__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 36px;
    height: 36px;
    top: 10px;
    left: 15px;
    top: 12px; 
    background-image: url("../../icons/communication.png"); }

.site-info__denuncia__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 36px;
    height: 36px;
    top: 10px;
    left: 15px;
    top: 12px; 
    background-image: url("../../icons/denuncia.png"); }

.site-info__about__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 24px;
    height: 24px;
    top: 10px;
    left: 15px;
    top: 12px; 
    background-image: url("../../icons/about.svg"); }

.site-info__information__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 24px;
    height: 24px;
    top: 10px;
    left: 15px;
    top: 12px; 
    background-image: url("../../icons/information.svg"); }

.site-info__privacy__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 24px;
    height: 24px;
    top: 10px;
    left: 15px;
    top: 12px; 
    background-image: url("../../icons/privacy-policy-24.png"); }

.site-info__footer__icon {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    width: 250px;
    height: 45px;
    background-image: url("../../icons/laLibre.png"); }

  .search-form {
    background-color: #20b2aa; }

  .search-form__input {
    width: 215px;
    -moz-appearance: none;
    font-size: 14px;
    font-weight: normal;
    background: none repeat scroll 0% 0% transparent;
    outline: medium none;
    border: medium none;
    border-bottom: solid 1px #73c6b6;
    padding: 0;
    line-height: 24px;
    height: 24px;
    z-index: 1;
    margin-left:30px;
    margin-top: 9px;
    color: #f0f0f0; }
    .search-form__input::placeholder {
      color: #eee5de; }

/* Generic menu list styling */
  .default-list {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 14px;
    margin-top: 0; }
  .default-list li {
    padding-top: 15px; }
  .default-list li .icon__arrow {
    right: 15px; 
    top: 25px;}

  
  .hero {
  padding: 0 20px 15px 20px;
  text-align: center;
  position: relative;
  cursor: pointer; }

.hero__icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-top: 15px; }

.hero__title {
  line-height: 17px;
  display: block;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 11px;
  text-align: center;
  width: 100%;
  max-width: 100%;
  font-size: 17px;
  word-break: keep-all;
  white-space: nowrap; }

.hero__subtitle {
  padding-top: 6px;
  font-size: 12px;
  color: #888888;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  height: 20px;
  line-height: 21px;
  text-align: center; }

/*.hero__close {
  position: absolute;
  left: 20px;
  top: calc(50% - 12px); }

.hero__open {
  position: absolute;
  right: 20px;
  top: calc(50% - 12px); }*/

.recommendation-container .recommendation__icon {
  width: 81px;
  height: 67px; 
  background: no-repeat;}

.recommendation-container .recommendation__icon--antivirus {
  background-image: url("../../icons/protect-64.png"); }

.recommendation-container .recommendation__icon--communication {
  background-image: url("../../icons/wechat-64.png"); }

.recommendation-container .recommendation__icon--navegacion {
  background-image: url("../../icons/navegacion-64.png"); }

.recommendation-container .recommendation__icon--privacidad {
  background-image: url("../../icons/key-64.png"); }

.search-options {
      color: #dfdede; 
      font-weight: bold;
      padding-left: 30px;
      padding-top: 4px;
    }

.switch-tabs {
  padding-left: 10px;
}

.switch-tabs a {
  display: block;
}

.manImg{
    width: 22px;
    height: 22px;
    position: absolute;
    top: 9px;
    left: 5px;
}

/*Card Recommendation*/
.breakage-form {
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff; 
 /* border-style: solid;
  border-color: #20b2aa;
  border-width: medium;*/
  }
  .breakage-form__content {
    z-index: 1;
    margin-top: 0;
    position: relative;
    padding: 20px 20px 20px;
    background-color: #ffffff;
    margin: 0;
    text-align: center; }
    
